data/
mmnacc/
a.ipynb
b.ipynb
c.ipynb
download.ipynb
Feature_Engineering[1].ipynb
March Madness 2022 Predictions.ipynb
march-madness-2024-edaandml.ipynb
model.h5
outscores.csv
combined_data.csv
combined_data2.csv